body{
    background-color: #A5BFCC;
}
#About{
  background-color: #A5BFCC;
  /* height: 20rem; */
  /* margin-bottom: 20px; */
  margin: 0px;
  padding: 0px;
  padding-top: 50px;
  
}
#AboutTab{
   
    background-color: #7E99A3;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#AboutBottom{
    background-color: #4C585B;
    height: 50px;
}

#AboutContent{
    display: grid;
    grid-template-rows: 60% 40%;
    padding: 20px;
}
#AboutContent1{
    color: #F4EDD3;
}
.Contactlink{
    text-decoration: none;
    color: #F4EDD3;
    background-color: #4C585B;
    display: inline-block;
    width: auto;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
}
 .Contactlink:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 }

@media ( max-width: 1100px) {
    #AboutTab{
   
        background-color: #7E99A3;
        border-radius: 10px;
        width: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: auto;
        gap: 50px;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    #AboutTab  img {
      width: 90%;
      margin: auto;
     text-align: center;
     text-decoration: center;

    }
    #AboutContent2Head{
        color: #4C585B;
    }
    #AboutContent{
        display: grid;
        grid-template-rows: 60% 40%;
        padding: 20px;
    }
}