
body{
    margin: 0px;
    padding: 0px;
  
      /* background-color: orange; */
  
}
#Nav{
    margin: 0px;
    position: fixed; 
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
    background-color: rgb(65 104 231) ;
    position: sticky;
    top: 0;
    overflow: hidden;
   height: 5rem;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* 
#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
} */
#logo{
    padding-top: 5px;
    margin-top: 10px;
    margin-left: 40px;
    color: white;
    font-size: 1.5rem;
}
#logo:hover{
   color: red;
}
#tags{
    padding-top: 5px;
    padding: 10px;
    margin-top: 25px;

}
.Link{
    margin: 5px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

#downloadResume:hover{
  background-color: blue;
  color: white;
}
#tagsSmallScreen{
    visibility: hidden;
    margin-top: 40px;
   
}
.Link:hover {
  color: red;
  /* transform: scale(1.3); */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  
 }

 /* small tag link  */
 #dropdownMenu {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  text-align: right;
  justify-items: right;
}

/* Menu button */
#menuButton {
  background-color: white;
  color: grey;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#menuButton:hover {
  background-color: white;
  color: grey;
}

/* Dropdown links (hidden by default) */
#menuLinks {
  display: none;
  flex-direction: column;
  background-color: white;
  padding: 5px 0;
  border-radius: 0 0 10px 10px;
}

#menuLinks a {
  color:  grey;
  padding: 10px;
  text-decoration: none;
  text-align: right;
}

#menuLinks a:hover {
  background-color:  grey;
   color: rgb(37, 150, 190);;
}

/* Show dropdown links when active */
#dropdownMenu.active #menuLinks {
  display: flex;
}

/* Example sections */
section {
  height: 0vh;
  padding: 0px;
  /* border: 1px solid #ddd; */
}
/* 
#About { background-color: #f9f9f9; }
#Skills { background-color: #e9f7ef; }
#Projects { background-color: #fce4ec; }
#Contact { background-color: #e3f2fd; } */


@media ( max-width: 1100px){
  
#Nav{
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 10px;
  background-color:rgb(65 104 231);
  width: 100%;

}
      
#logo  {
 visibility: hidden;
  display: none;
  
}


#tags {
                display: none;

              }
              #textdiv {
                display: none;
              }
              #AboutRightContact{
                display: none;
              }

              #tagsSmallScreen{
                display: block;
                visibility: visible;
            }

            section {
              height: 0vh;
              padding: 0px;
              /* border: 1px solid #ddd; */
            }
 }




